<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE configuration  >
<!-- 
	http://logging.apache.org/log4j/2.x/faq.html#which_jars
 -->
<Configuration status="INFO">
	<Appenders>
		<File name="file.default" fileName="${sys:user.home}/weblogs/common.log" >
			<PatternLayout>
				<Pattern>%d %p %C{1.} [%t] %m%n</Pattern>
			</PatternLayout>
		</File>
	</Appenders>
 	<Loggers>
		<Root level="info">
			<AppenderRef ref="file.default" level="INFO" />
		</Root>
	</Loggers>
</Configuration>